<div th:replace="Shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Manoel Gomes Brasil </h1>
                    <h2 class="masthead-subheading mb-0">Viva essa experiência intensamente.</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="https://github.com/MarcosZucco">Mais sites como esse</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/foto-manoel-sem-fundo2.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">For those about to rock...</h2>
                            <p>Manoel Gomes, o renomado artista do rock, cativa plateias com sua energia arrebatadora e talento excepcional. Sua voz rouca e poderosa ressoa pelos estádios, enquanto suas letras profundas e poéticas tocam a alma dos fãs. Com riffs de guitarra frenéticos e solos arrebatadores, ele se estabeleceu como um ícone do gênero. Manoel combina influências clássicas com uma abordagem contemporânea, criando um som único e inconfundível. Sua presença de palco magnética e carisma contagiante garantem que cada show seja uma experiência inesquecível. Manoel Gomes prova que é possível reinventar o rock e deixar sua marca indelével na história da música.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/img64029df9d179d4.01075902.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">We salute you!</h2>
                            <p>Manoel Gomes, o icônico artista do rap, conquista multidões com sua lírica afiada e presença de palco magnética. Suas rimas contundentes e fluidez impecável ecoam nas mentes e corações dos ouvintes. Com batidas pulsantes e samples inovadores, ele redefine os limites do gênero. Manoel combina habilmente suas raízes clássicas com uma abordagem moderna, criando um som autêntico e cativante. Sua mensagem empoderadora e socialmente consciente ressoa na juventude, inspirando mudanças e reflexões. Manoel Gomes é um verdadeiro pioneiro do rap, deixando sua marca indelével na história da música.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/whatsapp-image-2023-02-27-at-09.51.46.webp" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Let there be rock!</h2>
                            <p>Manoel Gomes, o talentoso artista da música clássica, encanta audiências com sua virtuosidade e sensibilidade incomparáveis. Suas mãos habilidosas deslizam pelas teclas do piano, produzindo melodias transcendentais que envolvem os ouvintes em uma aura de beleza e emoção. Com uma interpretação cativante e profunda, ele traz à vida composições icônicas dos grandes mestres da música clássica. Sua dedicação à técnica e sua paixão pela expressão musical resultam em performances magistrais que tocam a alma. Manoel Gomes é um verdadeiro tesouro do mundo da música clássica, levando-nos a um universo de harmonia e deleite estético.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<div th:replace="Shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>